body {
  background: #f5f5f5;
}
body .header-container {
  height: 160px;
  background: #ffffff;
  border-bottom: 1px solid #efefef;
  box-shadow: 0px -3px 10px 1px rgba(127, 127, 127, 0.1);
}
body .header-container .logo {
  background: url(../img/main-logo.png) no-repeat;
  width: 204px;
  height: 125px;
  margin: 16px auto;
}
body .fixed-push {
  margin-top: 160px;
}
body .fixed-push .my-projects,
body .fixed-push .my-forks {
  display: none;
  margin-top: 10px;
}
body .fixed-push .my-projects .repo,
body .fixed-push .my-forks .repo {
  padding: 10px;
}
body .fixed-push .my-projects .repo > .content,
body .fixed-push .my-forks .repo > .content {
  padding: 3px 15px;
  border: 1px solid #efefef;
  border-radius: 3px;
  background: #ffffff;
  box-shadow: 1px 2px 3px -2px #7f7f7f;
  min-height: 180px;
}
body .fixed-push .my-projects .repo > .content > h3,
body .fixed-push .my-forks .repo > .content > h3 {
  margin-top: 0;
}
